.header-style{
  width: 100%;
  text-align: center;
}
.clear{
  clear: both;
}
.logo{
  height: 10rem;
}
h1{
  padding: 2rem;
}
h4{
  padding: 0 0 0 3rem;
  margin: 0;
}
.div-l{
  box-sizing: border-box;
  background-color: #002f5c;
  color: white;
  float: left;
  height: 55rem;
  width: 20%;
  padding: 1rem 0 0 0;
  margin-top: 1px;
}
.div-r{
  box-sizing: border-box;
  background-color: #002f5c;
  color: white;
  float: left;
  height: 55rem;
  width: 20%;
  padding: 1rem 0 0 0;
  margin-top: 1px;
}
.div-m{
  box-sizing: border-box;
  background-color: inherit;
  float: left;
  width: 60%;
  height: 55rem;
  /* box-shadow: 6px 0px 5px -5px #888888, -6px 0px 5px -5px #888888;
-webkit-box-shadow: 6px 0px 5px -5px #888888, -6px 0px 5px -5px #888888;
-moz-box-shadow: 6px 0px 5px -5px #888888, -6px 0px 5px -5px #888888; */
}

.im{
  width: 100%;
  margin-top: 2px;
}
p{
  padding: 0 2rem;
}
body{
  background-color: #FFFFFF;
}
main{
  background-color: #f0eaea;
}
ul{
  list-style-type: none;
  background-color: inherit;
  padding: 0;
}
li{
  margin: 0;
  padding: 0;
}
.link{
padding-left: 2rem;
}
a{
  display: block;
  margin: 0;
  font-size: 1.2rem;
  padding: 0.5rem 0 0.5rem 5%;
  text-align: left;
  background-color: inherit;
  color: white;
}
/* .link:hover{
  background-color:  #103f6c;
  border-style: solid;
  border-width: 0 2px 0 0;
  border-color: #f7f7f7;
  color: #f7f7f7;
  text-decoration: none;
} */
a:hover{
  background-color:  #103f6c;
  border-style: solid;
  border-width: 0 2px 0 0;
  border-color: #f7f7f7;
  color: #f7f7f7;
  text-decoration: none;
}
a:visited{
  background-color:  #103f6c;
  border-style: solid;
  border-width: 0 2px 0 0;
  border-color: #f7f7f7;
  color: #f7f7f7;
  text-decoration: none;
}
iframe{
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 20rem;
  padding: 0 5%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
article{
  margin: 0;
  background-color: inherit;
}
th{
  background-color:  #002f5c;
  color: white;
  width: 100%;
  text-align: center;
}
.main-art{
  display: none;
}
.displ{
  display: block;
}
#usluge{
  display: block;
margin: 0;
font-size: 1.2rem;
padding: 0.5rem 0 0.5rem 5%;
text-align: left;
font-weight: 400;
line-height: 1.5;
}
span{
  display: block;
  text-align: center;
}
footer{
  text-align: center;
  background-color: #f0eaea;
}
footer p{
  padding: 1rem;
  color: #002f5c;
}
.hideme-div{
  display: none;
}

.o_nama{
  padding-bottom: 1rem;
}
.o_nama h5{
  padding-left: 2rem;
}
.o_nama_head{
  border-top: 1px solid #dee2e6;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #002f5c;
  color: white;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px){
.div-l{
  display: none;
}
.main-art{
  display: block;
}
.div-m{
  float: none;
  width: 100%;
  display: block;
  position: static;
  height: auto;
}
.div-r{
  float: none;
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 1rem;
  height: auto;
}
.logo{
  width: 80%;
}
.hideme{
  display: none;
}
.hideme-div{
  display: block;
  position: relative;
  width: 100%;
  height: 48px;
  opacity: 0;
}




}
@media only screen and (max-width: 500px){
  .logo{
    width: 100%;
  }
}
